* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

i {
  font-style: normal;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, i, a {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body .wrap {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
body .wrap .wrap-inner {
  position: absolute;
  width: 100%;
  height: auto;
}
body, body a {
  color: #fff;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-o6nv2b");
  src: url("fonts/icomoon.eot?#iefix-o6nv2b") format("embedded-opentype"), url("fonts/icomoon.ttf?-o6nv2b") format("truetype"), url("fonts/icomoon.woff?-o6nv2b") format("woff"), url("fonts/icomoon.svg?-o6nv2b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url(icons.woff) format("woff");
  font-weight: normal;
  font-size: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-down:before {
  content: "\e600";
}

.icon-circle-up:before {
  content: "\e601";
}

.clearfix {
  *zoom: 1;
  /*IE/6/7*/
}

.clear:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.home, .nav, .about, .skill, .workEXP, .works, .contact {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.home, .about, .skill, .workEXP, .works, .contact {
  position: relative;
  height: auto;
}
.home .scroll, .about .scroll, .skill .scroll, .workEXP .scroll, .works .scroll, .contact .scroll {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 8px;
  font-size: 30px;
  cursor: pointer;
}
.home h2, .about h2, .skill h2, .workEXP h2, .works h2, .contact h2 {
  font-size: 3em;
  margin-top: 8%;
  text-align: center;
}

.home {
  background-color: #22B573;
}
.home .myPhoto {
  position: relative;
  width: 170px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
.home .myPhoto img {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
}
.home h1, .home h3, .home .download, .home .scroll {
  margin-top: 15px;
  text-align: center;
}
.home h1, .home h3 {
  opacity: 0;
}
.home h1 {
  font-size: 4.5em;
}
.home h3 {
  font-size: 2em;
}
.home .download {
  opacity: 0;
}
.home .download a {
  margin-top: 20px;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #fff;
  cursor: pointer;
}
.home .download a:hover {
  background-color: #fff;
  color: #22B573;
}

.nav {
  height: 52px;
  background-color: #42474B;
  font-size: 14px;
  z-index: 999;
}
.nav a {
  margin-left: 40px;
  line-height: 52px;
  float: left;
  z-index: 1;
}
.nav a:hover {
  text-decoration: underline;
}
.nav nav {
  margin-left: 50%;
}

.about {
  background-color: #1889C5;
}
.about .fl, .about .fr {
  width: 35%;
  margin-top: 50px;
  float: left;
}
.about .fl {
  padding-left: 10%;
  margin-left: 15%;
}
.about .fr {
  padding-left: 15%;
}

.skill {
  background-color: #1B1B1B;
}
.skill .skill-echarts-main {
  margin-top: 5%;
  width: 100%;
  height: 80%;
}

.workEXP {
  background-color: #26B1B6;
}
.workEXP .workEXP-echarts-main {
  margin-top: 3%;
  width: 100%;
  height: 60%;
}

.works {
  background-color: #364B5F;
}
.works h2 {
  position: absolute;
  margin-top: 0;
  left: 50%;
  margin-left: -96px;
  z-index: 10000;
}

.contact {
  background-color: #ED6461;
}
.contact .inner {
  padding-top: 15%;
}
.contact .inner h1, .contact .inner a {
  text-align: center;
  opacity: 0;
}
.contact .inner h1 {
  font-size: 3em;
}
.contact .inner a {
  font-size: 1.5em;
  margin-top: 2%;
}
.contact .inner a:hover {
  text-decoration: underline;
}

.wrap {
  width: 100%;
  height: 400px;
  position: absolute;
  overflow: hidden;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  perspective: 400px;
}

.photo {
  width: 130px;
  height: 160px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  cursor: pointer;
  left: 50%;
  top: 50%;
  margin: -160px 0 0 -130px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}
.photo .side {
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
}
.photo .side-front .image {
  width: 100%;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
}
.photo .side-front .image img {
  width: 100%;
}
.photo .side-front .caption {
  color: #000;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
}
.photo .side-back .desc {
  color: #666;
  font-size: 14px;
  line-height: 1.5em;
}

.photo_center {
  left: 50%;
  top: 50%;
  margin: -160px 0 0 -130px;
  z-index: 999;
}

.photo-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all .6s;
  -moz-transform-style: preserve-3d;
  -moz-transition: all .6s;
  -ms-transform-style: preserve-3d;
  -ms-transition: all .6s;
  transform-style: preserve-3d;
  transition: all .6s;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.photo-wrap .side-front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.photo-wrap .side-front .caption a {
  color: #000;
  font-size: 12px;
}
.photo-wrap .side-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.photo-wrap .side {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.nav_i {
  width: 80%;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 10%;
  bottom: 15%;
  z-index: 999;
  text-align: center;
}
.nav_i .i {
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  background-color: #aaa;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: scale(0.48);
  -webkit-transition: all .5s;
  -moz-transform: scale(0.48);
  -moz-transition: all .5s;
  -ms-transform: scale(0.48);
  -ms-transition: all .5s;
  transform: scale(0.48);
  transition: all .5s;
}
.nav_i .i:after {
  content: '\e600';
  font-family: 'icons';
  font-size: 80%;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  opacity: 0;
}
.nav_i .i_current {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.nav_i .i_current:after {
  opacity: 1;
}
.nav_i .i_back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: #555;
}

.photo_front .photo-wrap {
  -webkit-transform: translate(0px, 0px) rotateY(0deg);
  -moz-transform: translate(0px, 0px) rotateY(0deg);
  -ms-transform: translate(0px, 0px) rotateY(0deg);
  transform: translate(0px, 0px) rotateY(0deg);
}

.photo_back .photo-wrap {
  -webkit-transform: translate(130px, 0px) rotateY(180deg);
  -moz-transform: translate(130px, 0px) rotateY(180deg);
  -ms-transform: translate(130px, 0px) rotateY(180deg);
  transform: translate(130px, 0px) rotateY(180deg);
}

.icon-circle-toggle {
  -webkit-animation-name: icon-circle-toggle;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes icon-circle-toggle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.home-myphoto-ani {
  -webkit-animation-name: TtoB;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.l-2-r {
  -webkit-animation-name: LtoR;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.r-2-l {
  -webkit-animation-name: RtoL;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.t-2-b {
  -webkit-animation-name: TtoB;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.b-2-t {
  -webkit-animation-name: BtoT;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
}

.home-myphoto-ani {
  animation-name: TtoB;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* .l-2-r {
	animation-name: LtoR;
	animation-duration: 1s;
	animation-fill-mode : forwards;
}
.r-2-l {
	animation-name: RtoL;
	animation-duration: 1s;
	animation-fill-mode : forwards;
}
.t-2-b {
	animation-name: TtoB;
	animation-duration: 1s;
	animation-fill-mode : forwards;
}
.b-2-t {
	animation-name: BtoT;
	animation-duration: 1s;
	animation-fill-mode : forwards;
} */
@-webkit-keyframes TtoB {
  0% {
    opacity: 0;
    margin-top: -100%;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@-webkit-keyframes LtoR {
  0% {
    opacity: 0;
    margin-left: -200%;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@-webkit-keyframes RtoL {
  0% {
    opacity: 0;
    margin-right: -200%;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
@-webkit-keyframes BtoT {
  0% {
    opacity: 0;
    margin-top: 100%;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}
@keyframes TtoB {
  0% {
    opacity: 0;
    margin-top: -100%;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes LtoR {
  0% {
    opacity: 0;
    margin-left: -200%;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes RtoL {
  0% {
    opacity: 0;
    margin-right: -200%;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
@keyframes BtoT {
  0% {
    opacity: 0;
    margin-top: 100%;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}
